In [2]:
import numpy as np
import pandas as pd

In [3]:
#calculate positions of wildtype amino acids in RABV-G

seq='MVPQALLFVPLLVFPLCFGKFPIYTIPDKLGPWSPIDIHHLSCPNNLVVEDEGCTNLSGFSYMELKVGYISAIKMNGFTCTGVVTEAETYTNFVGYVTTTFKRKHFRPTPDACRAAYNWKMAGDPRYEESLHNPYPDYHWLRTVKTTKESLVIISPSVADLDPYDRSLHSRVFPGGNCSGVAVSSTYCSTNHDYTIWMPENPRLGMSCDIFTNSRGKRASKGSETCGFVDERGLYKSLKGACKLKLCGVLGLRLMDGTWVAMQTSNETKWCPPGQLVNLHDFRSDEIEHLVVEELVKKREECLDALESIMTTKSVSFRRLSHLRKLVPGFGKAYTIFNKTLMEADAHYKSVRTWNEIIPSKGCLRVGGRCHPHVNGVFFNGIILGPDGNVLIPEMQSSLLQQHMELLVSSVIPLMHPLADPSTVFKNGDEAEDFVEVHLPDVHERISGVDLGLPNWGKYVLLSAGALTALMLIIFLMTCWRRVNRSEPTQHNLRGTGREVSVTPQSGKIISSWESYKSGGETGL*';


numbering = np.arange(1,len(seq)+1,1)

In [4]:
seq_array = list(seq)

In [5]:
sequence_dataframe=pd.DataFrame(columns=['sequential_site','sequential_wt','reference_site','reference_wt','region'])

sequence_dataframe['sequential_site']=numbering
sequence_dataframe['reference_site']=numbering

sequence_dataframe['sequential_wt']=seq_array;
sequence_dataframe['reference_wt']=seq_array;

In [6]:
sequence_dataframe

     sequential_site sequential_wt  reference_site reference_wt region
0                  1             M               1            M    NaN
1                  2             V               2            V    NaN
2                  3             P               3            P    NaN
3                  4             Q               4            Q    NaN
4                  5             A               5            A    NaN
..               ...           ...             ...          ...    ...
520              521             E             521            E    NaN
521              522             T             522            T    NaN
522              523             G             523            G    NaN
523              524             L             524            L    NaN
524              525             *             525            *    NaN

[525 rows x 5 columns]

In [7]:
sequence_dataframe.to_csv('site_numbering_map.csv');

In [10]:
pacbio_dataframe=pd.DataFrame(columns=['library','run','fastq'])

library = ['A','B'];
run = ['220124','220124'];
fastq=['/Volumes/bloom_j/SR/ngs/pacbio/240131_Arjun/r64272e_20240131_215047/2_B01/bc2083--bc2083/m64272e_240201_182146.hifi_reads.bc2083--bc2083.fastq',
       '/Volumes/bloom_j/SR/ngs/pacbio/240131_Arjun/r64272e_20240131_215047/3_C01/bc2084--bc2084/m64272e_240203_003328.hifi_reads.bc2084--bc2084.fastq'];

In [12]:
pacbio_dataframe['library']=library;
pacbio_dataframe['run']=run;
pacbio_dataframe['fastq']=fastq;

In [13]:
pacbio_dataframe

  library     run                                              fastq
0       A  220124  /Volumes/bloom_j/SR/ngs/pacbio/240131_Arjun/r6...
1       B  220124  /Volumes/bloom_j/SR/ngs/pacbio/240131_Arjun/r6...

In [ ]:
pacbio_dataframe.to_csv('pacbio_runs.csv