In [1]:
import numpy as np
import pandas as pd

In [3]:
#calculate positions of wildtype amino acids in RABV-G

seq='MVPQALLFVPLLVFPLCFGKFPIYTIPDKLGPWSPIDIHHLSCPNNLVVEDEGCTNLSGFSYMELKVGYISAIKMNGFTCTGVVTEAETYTNFVGYVTTTFKRKHFRPTPDACRAAYNWKMAGDPRYEESLHNPYPDYHWLRTVKTTKESLVIISPSVADLDPYDRSLHSRVFPGGNCSGVAVSSTYCSTNHDYTIWMPENPRLGMSCDIFTNSRGKRASKGSETCGFVDERGLYKSLKGACKLKLCGVLGLRLMDGTWVAMQTSNETKWCPPGQLVNLHDFRSDEIEHLVVEELVKKREECLDALESIMTTKSVSFRRLSHLRKLVPGFGKAYTIFNKTLMEADAHYKSVRTWNEIIPSKGCLRVGGRCHPHVNGVFFNGIILGPDGNVLIPEMQSSLLQQHMELLVSSVIPLMHPLADPSTVFKNGDEAEDFVEVHLPDVHERISGVDLGLPNWGKYVLLSAGALTALMLIIFLMTCWRRVNRSEPTQHNLRGTGREVSVTPQSGKIISSWESYKSGGETGL*';


numbering = np.arange(1,len(seq)+1,1)

In [4]:
seq_array = list(seq)

In [5]:
sequence_dataframe=pd.DataFrame(columns=['sequential_site','sequential_wt','reference_site','reference_wt','region'])

sequence_dataframe['sequential_site']=numbering
sequence_dataframe['reference_site']=numbering

sequence_dataframe['sequential_wt']=seq_array;
sequence_dataframe['reference_wt']=seq_array;

In [6]:
sequence_dataframe

     sequential_site sequential_wt  reference_site reference_wt region
0                  1             M               1            M    NaN
1                  2             V               2            V    NaN
2                  3             P               3            P    NaN
3                  4             Q               4            Q    NaN
4                  5             A               5            A    NaN
..               ...           ...             ...          ...    ...
520              521             E             521            E    NaN
521              522             T             522            T    NaN
522              523             G             523            G    NaN
523              524             L             524            L    NaN
524              525             *             525            *    NaN

[525 rows x 5 columns]

In [7]:
sequence_dataframe.to_csv('site_numbering_map.csv');

In [9]:
pacbio_dataframe=pd.DataFrame(columns=['library','run','fastq'])

library = ['A','B'];
run = ['A_220124','B_220124'];
fastq=['/fh/fast/bloom_j/computational_notebooks/aaditham/2024/RABV_Pasteur_G_DMS/data/m64272e_240201_182146.hifi_reads.bc2083--bc2083.fastq',
       '/fh/fast/bloom_j/computational_notebooks/aaditham/2024/RABV_Pasteur_G_DMS/data/m64272e_240203_003328.hifi_reads.bc2084--bc2084.fastq'];

In [10]:
pacbio_dataframe['library']=library;
pacbio_dataframe['run']=run;
pacbio_dataframe['fastq']=fastq;

In [11]:
pacbio_dataframe

  library       run                                              fastq
0       A  A_220124  /fh/fast/bloom_j/computational_notebooks/aadit...
1       B  B_220124  /fh/fast/bloom_j/computational_notebooks/aadit...

In [12]:
pacbio_dataframe.to_csv('PacBio_runs.csv');
pacbio_dataframe.to_csv('pacbio_runs.csv');

In [6]:
#generate blank barcode runs file (dummy)

barcode_runs_df = pacbio_dataframe=pd.DataFrame(columns=['sample','library','date','fastq_R1','notes'])

In [8]:
barcode_runs_df.to_csv('barcode_runs.csv')

In [15]:
#add neturalization standard barcodes

neut_std_barcodes = pd.DataFrame(columns=['barcode','name']);

barcodes = ['GTGCAGTAGTAAAGTA','TACGTCGCAATGGTCC','CCATCTAGTGGCTAGG','AGTAGACTCCCTCCAT','CGTGGCGTTTACACTA','GCGATTCACGCGTTGG','TACCCATGGATACGAT','ATATAGACACGTGACC'];
name = ['neut_standard','neut_standard','neut_standard','neut_standard','neut_standard','neut_standard','neut_standard','neut_standard'];


neut_std_barcodes['barcode']=barcodes;
neut_std_barcodes['name']=name;

In [16]:
neut_std_barcodes

            barcode           name
0  GTGCAGTAGTAAAGTA  neut_standard
1  TACGTCGCAATGGTCC  neut_standard
2  CCATCTAGTGGCTAGG  neut_standard
3  AGTAGACTCCCTCCAT  neut_standard
4  CGTGGCGTTTACACTA  neut_standard
5  GCGATTCACGCGTTGG  neut_standard
6  TACCCATGGATACGAT  neut_standard
7  ATATAGACACGTGACC  neut_standard

In [17]:
neut_std_barcodes.to_csv('neutralization_standard_barcodes.csv');

In [ ]:
barcode	name
GTGCAGTAGTAAAGTA	neut_standard
TACGTCGCAATGGTCC	neut_standard
CCATCTAGTGGCTAGG	neut_standard
AGTAGACTCCCTCCAT	neut_standard
CGTGGCGTTTACACTA	neut_standard
GCGATTCACGCGTTGG	neut_standard
TACCCATGGATACGAT	neut_standard
ATATAGACACGTGACC	neut_standard

In [73]:
#make designed mutations file

seq='MVPQALLFVPLLVFPLCFGKFPIYTIPDKLGPWSPIDIHHLSCPNNLVVEDEGCTNLSGFSYMELKVGYISAIKMNGFTCTGVVTEAETYTNFVGYVTTTFKRKHFRPTPDACRAAYNWKMAGDPRYEESLHNPYPDYHWLRTVKTTKESLVIISPSVADLDPYDRSLHSRVFPGGNCSGVAVSSTYCSTNHDYTIWMPENPRLGMSCDIFTNSRGKRASKGSETCGFVDERGLYKSLKGACKLKLCGVLGLRLMDGTWVAMQTSNETKWCPPGQLVNLHDFRSDEIEHLVVEELVKKREECLDALESIMTTKSVSFRRLSHLRKLVPGFGKAYTIFNKTLMEADAHYKSVRTWNEIIPSKGCLRVGGRCHPHVNGVFFNGIILGPDGNVLIPEMQSSLLQQHMELLVSSVIPLMHPLADPSTVFKNGDEAEDFVEVHLPDVHERISGVDLGLPNWGKYVLLSAGALTALMLIIFLMTCWRRVNRSEPTQHNLRGTGREVSVTPQSGKIISSWESYKSGGETGL*';

#range of mutagenized orf (only ectodomain)
mutations_range = np.arange(18,451)

#add stop mutation positions
stop_positions = np.arange(18,58,2)

#amino acid list
aa_list=['A','C','D','E','F','G','H','I','K','L','M','N','P','Q','R','S','T','V','W','Y'];


#headers of the dataframe
sequential_site=[];
amino_acid=[];
mutations_type=[];

In [77]:
#okay so i think i might go through the whole list now

for i in mutations_range:
    #amino acid -1 due to 0 index in string
    codon_position = i-1;
    wt_aa = seq[codon_position];
    
    #add mutations (aim for DMS, so add all not currently present)
    for j in aa_list:
        if wt_aa != j:
            sequential_site.append(i);
            amino_acid.append(j);
            mutations_type.append('designed_mutation');
        else:
            continue
    
    #add stops
    if (i in stop_positions):
        print(i)
        sequential_site.append(i);
        amino_acid.append('*');
        mutations_type.append('stop');

18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56

In [62]:
seq[17]

'F'

In [78]:
len(sequential_site)

8247

In [79]:
len(amino_acid)

8247

In [80]:
len(mutations_type)

8247

In [84]:
designed_mutations = pd.DataFrame(columns=['sequential_site','amino_acid','mutations_type']);

designed_mutations['sequential_site']=sequential_site
designed_mutations['amino_acid']=amino_acid
designed_mutations['mutations_type']=mutations_type

In [85]:
designed_mutations[designed_mutations['sequential_site'

      sequential_site amino_acid     mutations_type
0                  18          A  designed_mutation
1                  18          C  designed_mutation
2                  18          D  designed_mutation
3                  18          E  designed_mutation
4                  18          G  designed_mutation
...               ...        ...                ...
8242              450          S  designed_mutation
8243              450          T  designed_mutation
8244              450          V  designed_mutation
8245              450          W  designed_mutation
8246              450          Y  designed_mutation

[8247 rows x 3 columns]